@import '~@angular/material/theming';
@import '../../main_theme.scss';

.fill-remaining-space {
  flex: 1 1 auto;
}

.login-container {
  padding: 16px 32px;
  cursor: pointer;

  &:hover {
    background-color: mat-color($main-app-primary, 400);
  }

  i {
    padding-left: 8px;
  }
}

mat-toolbar {
  padding-right: 0;
}

#switchlang {
  cursor: pointer;
  padding-right: 16px;
}