@import "~@angular/material/theming";
@import "../../main_theme.scss";

.mat-dialog-actions {
  margin-bottom: -16px;
}

mat-form-field {
  padding: 0;
}

h1 {
  font-size: 32px;
}

#popup-container {
  margin: 0!important;

  > div, form {
    padding: 24px;

    &:last-child {
      background-color: $accent-light;
      color:rgba(0, 0, 0, 0.87);

      p {
        font-size: 16px;
      }

      button:hover {
        background-color:rgba(66, 66, 66, 0.85)!important;
      }
    }
  }
}